@font-face {
  font-family: Alexis;
  src: url(Zag\ Regular.otf);
}
body {
  font-family: Alexis;
  padding: 0;
  margin: 0;
  color: rgb(59, 59, 59);
  width: 100%;
  margin-top: 5px;
}
#landing {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(2, 2, 2, 0.6), rgba(8, 8, 8, 0.7)),
    url("obama2_0.webp") no-repeat fixed center;
  background-size: cover;
}
#header {
  width: 90%;
  height: 70px;
  position: relative;
  top: 20%;
  left: 5%;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;

  /* background-color: #3c5788; */
}
#intro {
  width: 100%;
  text-align: center;
  background-color: #3c5788;
  color: whitesmoke;
  /* margin-bottom: -30px; */
  padding-top: 20px;
}
#name {
  color: #173753;
}

#bio {
  width: 80%;
  text-align: left;
  font-size: 25px;
  margin-left: 140px;
  color: white;
  padding-bottom: 20px;
  height: 100vh;
  /* padding-top: 100px; */
}

img {
  width: 350px;
  height: 250px;
  position: relative;
  left: 38%;
  top: 20%;
}

a {
  text-decoration: none;
  color: #fde12d;
}

#sec2 {
  width: 100%;
  background-color: #73829c;
  padding-top: 20px;
  padding-bottom: 30px;
  color: whitesmoke;
}
.achievements {
  width: 80%;
  text-align: left;
  font-size: 25px;
  margin-left: 140px;
  color: white;
  padding-bottom: 20px;
}
